<!DOCTYPE html>
<html lang="en" ng-app="MovieApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie App</title>
    <link rel="stylesheet" href="main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  </head>
  <body ng-controller="mainController">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-left">
        <a href="" class="navbar-item" ng-click="loadAllMovies()">Home</a>
        <a href="" class="navbar-item" ng-click="showWatchlist()">Watchlist</a>
        <div class="navbar-item search-container">
          <input
            type="text"
            class="search-input"
            placeholder="Search movies..."
            ng-model="searchValue"
          />
          <button class="search-btn" ng-click="search()">🔍</button>
        </div>
      </div>
      <div class="navbar-right">
        <a ng-href="/signup" class="btn-signin" style="text-decoration: none"
          >Sign Up</a
        >

        <a ng-href="/login" class="btn-signin" style="text-decoration: none"
          >Log In</a
        >
      </div>
    </nav>
    <!-- Error Message -->
    <div ng-if="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
    <!-- watchlist Message -->

    <div
      class="empty-watchlist-message"
      ng-if="showingWatchlist && watchlist.length === 0"
    >
      <p>Your watchlist is currently empty. Add some movies to get started!</p>
    </div>
    <div class="movie-details" ng-if="selectedMovie">
      <button class="close-btn" ng-click="closeDetails()">✖</button>
      <img ng-src="{{selectedMovie.Poster}}" alt="{{selectedMovie.Title}}" />
      <h2>{{selectedMovie.Title}}</h2>
      <p>Year: {{selectedMovie.Year}}</p>
      <p>Type: {{selectedMovie.Type}}</p>
      <p>IMDB ID: {{selectedMovie.imdbID}}</p>
    </div>

    <!-- Content Section -->
    <div class="content">
      <!-- Movie Grid -->
      <div class="movie-grid" ng-if="!selectedMovie">
        <div
          class="movie-card"
          ng-repeat="movie in (showingWatchlist ? watchlist : filteredMovies)"
        >
          <img
            ng-src="{{movie.Poster}}"
            alt="{{movie.Title}}"
            class="movie-poster"
          />
          <h3 class="movie-title">{{movie.Title}}</h3>
          <div class="movie-buttons">
            <button
              class="view-btn"
              ng-click="addToWatchlist(movie)"
              ng-if="!isInWatchlist(movie) && !showingWatchlist"
            >
              Add to Watchlist
            </button>
            <button
              class="remove-btn"
              ng-click="removeFromWatchlist(movie)"
              ng-if="isInWatchlist(movie) || showingWatchlist"
            >
              Remove from Watchlist
            </button>
            <button class="details-btn" ng-click="viewDetails(movie)">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="/app/app.js"></script>
    <script src="/app/controller/mainController.js"></script>
    <script src="/app/controller/authController.js"></script>
  </body>
</html>
